public
node_modules
*.htaccess
*.DS_Store
.sublime-project
contents/css
contents/js/*.js
assets/rev_manifest
rev_manifest.json

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
node_modules/
src/assets/


# ignore our minified css files
screen.min.css
main.min.css

# ignore build directories
public
config-tags.toml
dist

# ignore temp dir
tmp