@require './config'

.arrow
  display inline-block
  width 8px
  height 8px
  &.up
    border-left 4px solid transparent
    border-right 4px solid transparent
    border-bottom 6px solid #455A64
  &.down
    border-left 4px solid transparent
    border-right 4px solid transparent
    border-top 6px solid black
  &.right
    border-top 4px solid transparent
    border-bottom 4px solid transparent
    border-left 6px solid #455A64
  &.left
    border-top 4px solid transparent
    border-bottom 4px solid transparent
    border-right 6px solid #455A64

.depth-1
  span.arrow
    width 6px
    height 6px
    border-left 3px solid transparent
    border-right 3px solid transparent
    border-top 4px solid black