$boxShadow = 0 0 8px 0 rgba(0,0,0,.08), 0 0 15px 0 rgba(0,0,0,.02), 0 0 20px 4px rgba(0,0,0,.06)

.custom-block
  display: flex
  // flex-direction: column
  // gap: 16px
  border-radius 4px
  box-shadow: $boxShadow
  align-items center
  p
    padding-bottom: unset
    padding-left: 24px
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding 24px
    border-left-width .5rem
    border-left-style solid
    margin 0 0 40px 0
  &.tip
    background-color #f3f5f7
    border-color #039BE5
  &.warning
    background-color #FAFAFA !important
    border-color darken(#ffe564, 35%) !important
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $accentColor
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $accentColor
