@font-face
  font-family 'AtlasGrotesk'
  font-style normal
  font-weight 400
  src url('/fonts/AtlasGrotesk/AtlasGrotesk-Regular.ttf') format('truetype')
  font-display swap

@font-face
  font-family 'AtlasGrotesk'
  font-style normal
  font-weight 300
  src url('/fonts/AtlasGrotesk/AtlasGrotesk-Light.ttf') format('truetype')
  font-display swap

@font-face
  font-family 'PxGrotesk'
  font-style normal
  font-weight 400
  src url('/fonts/Optimo-PxGrotesk/PxGrotesk-Regular.otf') format('opentype')
  font-display swap