@require './config'
@require '/fonts'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'
@require './color'
@require './typography'

html, body
  padding 0
  margin 0
  background-color #fff

.page
  padding-left $sidebarWidth

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight*2
  background-color #fff
  box-sizing border-box
  border-bottom 1px solid $borderColor

.sidebar-mask
  position fixed
  z-index 1
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 16px
  background-color #fff
  width 280px
  position fixed
  z-index 2
  margin 0
  top 60px
  left 0
  bottom 0
  box-sizing border-box
  border-right 1px solid $borderColor
  overflow-y auto

{$contentClass}:not(.custom)
  @extend $wrapper
  > *:first-child
    margin-top $navbarHeight*2

  a:hover
    text-decoration underline

  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px

  img
    max-width 100%
    width 100%

{$contentClass}.custom
  padding 0
  margin 0

  img
    max-width 100%

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size 1rem
  color #999;
  border-left .2rem solid #dfe2e5
  margin 1rem 0
  padding .25rem 0 .25rem 1rem

  & > p
    margin 0

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5

  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em

video
  outline none

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block

.theme-default-content
  .v-divider
    margin 24px 0 !important

.h-full
  height 100%

.w-full
  width 100%

.grid
  display grid

.grid-rows-1
  grid-template-rows repeat(1, minmax(0, 1fr))
.grid-rows-2
  grid-template-rows repeat(2, minmax(0, 1fr))

.grid-rows
  grid-template-rows 2fr 1fr


@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      transform translateX(-100%)
    .page
      padding-left 0

@require 'mobile.styl'
@require 'vuetify_override'