// sm
@media (max-width: 640px) {
  .sm-hidden-down {
    display: none !important;
  }
}

// md
@media (max-width: 768px) {
  .md-hidden-down {
    display: none !important;
  }
}

// lg
@media (max-width: 1024px) {
  .lg-hidden-down {
    display: none !important;
  }
}

// sm
@media (min-width: 640px) {
  .sm-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm-hidden-up {
    display: none !important;
  }
  .sm-pa-5 {
    padding: 48px !important
  }
}

// md
@media (min-width: 768px) {
  .md-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md-hidden-up {
    display: none !important;
  }
}

// lg
@media (min-width: 1024px -1px) {
  .lg-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg-hidden-up {
    display: none !important;
  }
}

// xl
@media (min-width: 1280px) {
  .xl-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: (1025px))
  .theme-container.no-sidebar
    .sidebar
      transform translateX(-100%)
    .page
      padding-left 0
  .theme-container
    .sidebar
      .sidebar-content
        .v-list
          display none !important;