.warning
  .warning--text
    color #e7c000 !important

.pl-logo
  margin: auto

.v-toolbar__extension
  background-color: #263238

.v-toolbar__content > *:last-child
  margin auto

.v-btn
  &.page-nav-btn
    font-size 12px

@media only screen and (min-width: 1904px)
  .container
  .submenu_container
  .toolbar_container
    max-width 1200px

@import '~vuetify/src/stylus/app.styl'

.right
  float: unset !important

ul, ol
  padding 0 0 24px 20px

code
  box-shadow: unset
  font-weight 400

  &:before, &:after
    content ''

p, li
 code
  display inline