name: Build only

on:
  pull_request

jobs:
  build:
    name: Install dependencies and generate static site
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install nbconvert
      - name: Convert Jupyter notebooks
        run: |
          shopt -s globstar
          python -m jupyter nbconvert --to markdown **/*.ipynb --ExtractOutputPreprocessor.enabled=False
          shopt -u globstar
        shell: bash

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      
      - name: Install vuepress
        run: yarn global add vuepress
      - name: Install package.json
        run: yarn
      - name: Build static site with vuepress
        # alias for vuepress build src defined in package.json
        run: yarn build
      
      - name: Get size of files in dist 
        shell: bash
        run: |
          du -ah src/.vuepress/dist
